html {
    scroll-behavior: smooth;
}

body {
    background: #011421;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

button {
    height: 30px;
    border-radius: 0px;
    width: 128px;
    background: #1c8637;
    color: #fff;
    font-weight: bold;
    border: 2px solid #115121;
    transition: 0.2s;
}

button:hover {
    background: #115121;
    border: 2px solid #1c8637;
    cursor: pointer;
}

button:hover:active {
    padding: 0px 8px;
    background: #0c3817;
    border: 2px solid #27af49;
}

.active {
    display: block !important;
}

.container {
    width: 90%;
    margin: auto;
}

.title {
    text-align: center;
    margin-bottom: 10px;
}

.title-header {
    font-size: 64px;
    margin: 10px 0px;
    color: #e9e9e9;
    text-shadow: 0px 0px 8px black;
    letter-spacing: 2px;
}

.title-info {
    font-style: italic;
    color:#dfcb5d;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
    margin: 10px 0px;
}

.sections ul {
    list-style: none;
    display: flex;
    padding: 0px;
    background:#00385e;
    border: 1px solid #0581D4;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #e9e9e9;
    font-weight: bold;
    max-height: 60px;
    box-sizing: border-box;
}

.sections ul li {
    width: 25%;
    padding: 20px;
    text-align: center;
    user-select: none;
    cursor: pointer;
    transition: 0.4s all;
}

.sections ul li:first-child {
    border-top-left-radius: 10px;
}

.sections ul li:last-child {
    border-top-right-radius: 10px;
}

.sections ul li:hover, .active-tab {
    background: #0063A5;
    font-size: 18px;
}

.sections ul li:not(:last-child) {
    border-right: 1px solid#0581d4;
}

.content-area {
    margin-top: -16px;
    overflow: hidden;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid #0581D4;
    border-top: none;
    color: #e9e9e9;
    background: #1c222f;
}

/* Stats area CSS start. */

.stats-area {
    padding: 10px 20px;
    display: none;
}

.error-area {
    display: none;
    padding: 0px 20px;
}

.stats-area-inner {
    display: flex;
}

.stats-area-inner:not(:nth-child(2)) {
    border-top: 2px solid #0c1324;
}

.stats-area p {
    width: 50%;
    font-size: 20px;
    letter-spacing: 1px;
}

.general-info, .error-title {
    padding: 10px 0px;
    width: 100% !important;
    border-bottom: 1px solid #e9e9e9;
    font-size: 32px !important;
    margin-bottom: 0px;
}

sup {
    margin-left: 5px;
}

.currency-selector {
    padding: 40px 0px;
    text-align: left;
}

.currency-selector span {
    margin-right: 20px;
    font-size: 18px;
}

select {
    background: #00385e;
    color: #fff;
    border: 1px solid #0581D4;
    padding: 5px 20px;
    font-weight: bold;
    letter-spacing: 1px;
}

.info {
    color: #dbc570;
    font-weight: bold;
    text-align: center;
}

.refresh {
    margin-left: 30px;
}

/* Stats area CSS end. */

/* Coins area CSS start. */
.header-container {
    height: 60px;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom: 1px solid #0581D4;
    border-top: 1px solid #0581D4;
}

.header-container div {
    width: 16.67%;
    text-align: center;
    padding: 20px 0px;
    background: #0a0c11;
}

.coins-area {
    display: none;
}

.main-coin-area {
    position: relative;
}

.coins-area .currency-selector {
    text-align: left;
    margin: 0;
    padding: 0;
}

.coin-currency-selector span, .coin-period-selector span, .coin-sort-selector span, .coin-order-selector span {
    font-size: 18px;
    text-align: left;
    margin-right: 10px;
}

.coin-options-area {
    display: flex;
    justify-content: space-between;
    padding: 30px 20px;
}

.coin-list {
    height: 600px;
    overflow-y: scroll;
}

.stand-by {
    opacity: 0.2;
}

.basic-info {
    display: flex;
    background: #2e3951;
    border-bottom: 1px solid #171d2b;
}

.basic-info div {
    width: 16.67%;
    text-align: center;
    padding: 15px 0px;
}

.basic-info div span {
    position: relative;
    top: 25%;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    text-shadow: 0px 2px #000;
}

.basic-info .icon img {
    width: 30px;
    height: 30px;
}

.more-info {
    background: #0f2526;
    height: 0px;
    opacity: 0;
    overflow: scroll;
    box-sizing: border-box;
    transition: 0.4s;
}

.more-info-active {
    height: 400px;
    opacity: 1;
}

.more-info div {
    display: flex;
    margin: 20px 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.more-info div:not(:last-child) {
    border-bottom: 1px solid #145742;
}

.more-info div p {
    margin: 0;
    text-align: justify;
    padding: 0px 20px;
    font-weight: bold;
    text-shadow: 0px 2px #000;
    font-size: 18px;
}

.more-info-title {
    width: 40%;
}

.more-info-data {
    width: 60%;
}

.more span {
    user-select: none;
    cursor: pointer;
}

.positive-change, .negative-change, .no-change {
    font-weight: bold; 
}

.negative-change {
    color: #e84242;
}

.positive-change {
    color: #1eb32e;
}

.no-change {
    color: #cec369;
}

.price span {
    color: #f0f095;
}

.marketCap .more-info-data, .circulating-supply .more-info-data, .total-supply .more-info-data, .highest-price .more-info-data {
    color: #f0f095;
}

.fa.fas.fa-chevron-down, .fa.fas.fa-chevron-up {
    position: relative;
    top: 0px;
    left: 7px;
    cursor: pointer;
    transition: 0.4s;
}

.coin-pagination {
    padding: 20px 40px;
    text-align: right;
    border-top: 1px solid #0581D4;
}

.pagination-control > * {
    margin: 0px 5px;
}

.pagination-control span {
    font-weight: bold;
    font-size: 20px;
}

#coin-current-page {
    width: 60px;
    height: 30px;
    text-align: center;
    background-color: #00385e;
    border: 1px solid #0581D4;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

.prev, .next {
    cursor: pointer;
    position: relative;
    top: 3px;
}

.coin-loading-overlay {
    position: absolute;
    z-index: 10;
    height: 200px;
    width: 300px;
    top: calc(50% - 100px);
    left: calc(50% - 150px);
    border-radius: 20px;
    background: #000;
    opacity: 0.6;
    display: none;
}

.overlay-active {
    display: block !important;
}

.loading-image {
    position: relative;
    top: calc(50% - 10px);
    left: calc(50% - 65px);
    
}
/* Coins area CSS end. */

/* Markets area CSS start. */
.markets-area {
    display: none;
}

.market-option-area {
    display: flex;
    padding: 30px 20px;
}

.market-sort-selector, .market-order-selector {
    flex: 1;
}

.market-refresh-container {
    flex: 2;
    text-align: right;
}

.market-list .header-container div, .market-list .basic-info div {
    width: 20%;
}

.market-pagination {
    padding: 20px 40px;
    text-align: right;
    border-top: 1px solid #0581D4;
}

.market-loading-overlay {
    position: absolute;
    z-index: 10;
    height: 200px;
    width: 300px;
    top: calc(50% - 100px);
    left: calc(50% - 150px);
    border-radius: 20px;
    background: #000;
    opacity: 0.6;
    display: none;
}

#market-current-page {
    width: 60px;
    height: 30px;
    text-align: center;
    background-color: #00385e;
    border: 1px solid #0581D4;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

.source-icon img {
    width: 30px;
}

.market-list {
    height: 600px;
    overflow-y: scroll;
}

.source-price span {
    color: #f0f095;
}
/* Markets area CSS end. */

/* Exchanges area CSS start. */
.exchanges-area {
    display: none;
}

.exchanges-option-area {
    display: flex;
    padding: 30px 20px;
}

.exchange-sort-selector, .exchange-order-selector {
    flex: 1;
}

.exchange-refresh-container {
    flex: 2;
    text-align: right;
}

.exchange-pagination {
    padding: 20px 40px;
    text-align: right;
    border-top: 1px solid #0581D4;
}

.exchange-loading-overlay {
    position: absolute;
    z-index: 10;
    height: 200px;
    width: 300px;
    top: calc(50% - 100px);
    left: calc(50% - 150px);
    border-radius: 20px;
    background: #000;
    opacity: 0.6;
    display: none;
}

#exchange-current-page {
    width: 60px;
    height: 30px;
    text-align: center;
    background-color: #00385e;
    border: 1px solid #0581D4;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

.exchange-icon img {
    width: 30px;
    height: 30px;
}

.exchange-list {
    height: 600px;
    overflow-y: scroll;
}

.exchange-volume span {
    color: #ce9b20;
}

.exchange-website a {
    text-decoration: none;
    color: #b7891c;
    cursor: pointer;
    transition: all 0.4s ease;
}

.exchange-website a:hover {
    color: #ffcd57;
}

.fa.fas.fa-link {
    margin-left: 5px;
}
/* Exchanges area CSS end. */

/* Responsive start. */
@media only screen and (max-width: 1400px) {
    .container {
        width: 95%;
    }
}

@media only screen and (max-width: 1260px) {
    .container {
        width: 100%;
    }
}

@media only screen and (max-width: 900px) {
    .title-header {
        font-size: 50px;
    }
}

@media only screen and (max-width: 650px) {
    .title-header {
        font-size: 40px;
    }
    .stats-area-inner p {
        font-size: 14px;
    }
}

@media only screen and (max-width: 550px) {
    .title-header {
        font-size: 30px;
    }
    .general-info, .error-title {
        font-size: 24px !important;
        text-align: center;
    }
}

@media only screen and (max-width: 450px) {
    .stats-area p:first-child {
        width: 40%;
        margin-right: 20px;
    }
}

@media only screen and (max-width: 380px) {
    .general-info, .error-title {
        font-size: 18px !important;
    }
}

@media only screen and (max-width: 350px) {
    .title-header {
        font-size: 24px;
    }
}
/* Responsive end. */

/*
https://docs.coinranking.com/
https://api.coinranking.com/v1/public/stats
https://api.coinranking.com/v1/public/coins
https://api.coinranking.com/v1/public/markets
https://api.coinranking.com/v1/public/exchanges
*/